* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#title {
    font-family: 'Archivo Black', sans-serif;
}

#icon {
    width: 150px;
    height: 200px;
    padding: 10px;
}

/* .right-container {
    display: none;
} */