* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    text-decoration: none;
    box-sizing: border-box;
}

#title {
    font-family: 'Archivo Black', sans-serif;
}

#icon {
    background-color: orange;
    width: 200px;
    height: 250px;
}

/* .right-container {
    display: none;
} */